<div class="container">
  <div class="card-product">


    <%= cl_image_tag(@pin.photo.key,
    width: 300, crop: :fill) %>
    <div class="card-product-infos">
      <h1><%= @pin.title %></h1>
      <p><%= @pin.description %></p>
      <% if @pin.website? %>
      <button class="btn draw-border"><%= link_to "View Source", "#{@pin.website}" %></button>
      <% end %>
      <p><i> Submitted by <%= @pin.user.username %></p></i>

      <br>

        <%= link_to like_pin_path(@pin), method: :put do%>
        <% if current_or_guest_user.voted_for? @pin %>
          <i class="fas fa-heart redcolor"></i>
        <% else %>
          <i class="fas fa-heart graycolor"></i>
        <% end %>
        <% end %>
        <%= @pin.votes_for.size %>
        <div class="card-links">
        <% if @pin.user == current_user %>
        <%= link_to "Edit", edit_pin_path %>
        <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

